.top-row {
    
    height:45px;
    margin-right: 0px;
}

.center {
    text-align:center;
}

.list {
    color:#2c3e50;
    font-size: 35px;
    font-family:'Roboto';
    text-align: center;
}

.textBox-line {
    border: white 0.3px solid;
    margin: 10px auto;
    width: 500px;
}

.toDo-line {
    border: white 0.5px solid;
    margin: 5px auto;
    margin-bottom: 50px;
    width:500px;
}

.js-clock {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px gray;
}

.gre {
    font-size: 30px;
}

.js-title, .js-greetings {
    margin:20px;
}

.js-title{
    margin-top:0px;
}

.js-weather{
    padding:10px;
    float:right;
}

.text1, .text2 {
    padding: 10px;
    background-color: transparent;
    border: none;
    margin-top: 20px;

}

.delBtn {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 3px;
}


input[type="text"]::placeholder {
    text-align: center;
    color: gray;
    font-size: 30px;
}

li {
    list-style-type:none;
    padding:3px;
    color: white;
    text-shadow: 3px 3px 3px gray;
}

body{
    background-color: #2c3e50;
}

.js-weather {
    color:white;
    text-shadow: 5px 5px 5px gray;
}

h4{
    color:white;
    text-shadow: 3px 3px 3px gray;
}

.form, .grettings {
    display:none;
}

.showing {
    display:block;
}

.invisible {
    display:none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}

