body {
    background-color: lightsteelblue;
}

.top-row {
    height: 50px;
}

.weather {
    float:right;
    margin: 0px;
    padding: 13px;
    color: white;
}

.calendar {
    font-size: 20px;
    float:left;
    color: white;
    padding:10px;
    margin: 0px;
}

.clock {
    text-align: center;
    font-size: 150px;
    margin-left: auto;
    color: white;
    margin-top: 180px;
    margin-bottom: 30px;

}

.askName {
    margin: auto;
    font-size: 35px;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: none;
    color: white;
    display:none;
}

.greeting {
    color: white;
    text-align: center;
    font-size: 50px;
    margin: -40px;
    display:none;
}

input[type="text"]::placeholder {
    color: white;
}

.toDoForm {
    content: "";
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
    display: none;
}

.askToDo {
    font-size: 35px;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: none;
    color: white;
}

.toDoList {
    text-align: center;
    list-style-type: none;
    font-size: 35px;
    color: white;
    margin: auto;
    padding: 0px;
}


input[type="text"] {
    border-bottom: white 1.5px solid;
}

li {
    padding-top: 40px;
    padding-bottom: 0px;
    border-bottom: white 1px solid;
    width: 400px;
    margin: auto;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}